/*TIPOGRAFÍAS*/

/*Roboto*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Tipografía de roboto: font-family:'Roboto';*/

/**          PROPIEDADES GENERALES           **/

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, a {
    font-size: 1em;
    text-decoration: none;
    margin: 10px auto;
    color: black;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    color: #000;
}

body header {
    background-color: black;
    box-shadow: gray 0px 1px 25px;
}

body header ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-end;
}

header ul li {
    background-color: white;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 15px auto;
    display: inline;
    text-shadow: #000 0px 0px 0px;
    position:relative;
    transition: 1s linear;

}

header ul .txt img {
    Scale: 0;
    transform-origin:bottom center;
	position: absolute;
	bottom: 40px;
	width: 100%;
	left: 0px;
    transition: 0.1s linear;

}
header ul .txt:hover img {
    Scale: 1;
	
}

header ul li:hover {
    text-shadow: #000 2px 4px 8px;
}

header nav ul .txt:hover {
    border: 0px solid #fff;
}

header nav ul li a {
    color: #000 !important;
}

header nav ul li:hover a {
    font-size: 1.3em;
    font-style: italic;
}

body footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

body footer .redesSociales {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}

body footer .redesSociales li a i.fab {
    color: #000 !important;
    margin: 0 25px;
    font-size: 3em;
}

main.ImagenEntrada .imagen {
    width: 100%;
    height: 30vw;
    background-image: url("../images/fondo01.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

main .ImagenEntrada .titulo {
    text-align: center;
    font-size: 5em;
    font-weight: 800;
}

main .imagenfull img {
    width: 100%;
}

/**************************** PÁGINA INICIO *************************************/
.index .imagenfull {
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
    background-image: url("../images/portada.png");
}

.index .imagenfull .texto {
	width: 70%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.5);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}
.index .imagenfull .texto h2 {
	margin: 20px 0px;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 10px;
}

.index .imagenfull .texto h3 {
	text-transform: uppercase;
	font-size: 1em;
    letter-spacing: 5px;
}


body main .chicha .Ventajas .ventaja, body main .Caracteristicas .caracteristica {
	display: flex;
	flex-direction: column;
    text-align: center;
    padding: 0 10px;
    margin: 20px 0;
}

body main .chicha .Ventajas .ventaja img, body main .Caracteristicas .caracteristica img {
	width: 100%;
    max-height: 300px;
}

body main .chicha .Ventajas .ventaja p{
    text-align: center;
}

body main .chicha .Ventajas, body main .Caracteristicas {
	display: flex;
	justify-content: space-around;
	margin: 40px 0;
	border-bottom: 2px solid black;
    flex-direction: row;
}

body main .Ventajas .ventaja h3 {
    margin: 10px 0;
}

body main a:hover{
    text-transform: uppercase;
}
/**************************** PÁGINA BLOG *************************************/

body main.blog, body aside.blogA {
    display: inline-flex;
    flex-direction: row;
}

body main.blog {
    width: 74%;
    flex-direction: column !important;
    margin: 15px;
}

.blog .cojines {
    text-align: center;
}

.blog .cojines .Imagen {
    display: inline-block;
}

.blog .cojines .productos {
    text-align: left;
    margin: 15px 0;
}
.blog .articulo {
	margin: 40px 0;
}

.blog .articulo h2{
    font-size: 2.5em;
    text-transform: uppercase;
	letter-spacing: 2px;
    margin-bottom: 10px;
}
body aside.blogA {
    width: 22%;
    flex-direction: column !important;
    text-align: center;
    background-color: black;
    align-content: center;
    align-items: center;
    border-radius: 5px;
}

body aside.blogA div {
    background-color: white;
    width: 90%;
    border-radius: 20px;
    margin: 10px;
}
body aside.blogA .articulos:last-child {
    background: rgba(2, 0, 36,0.2);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.2) 0%, rgba(18, 18, 19, 0.2) 30%, rgba(242, 253, 255, 0.2) 100%);
}
body aside.blogA .articulos:last-child p {
    color: white;
    font-style: italic;
    font-weight: 800;
}


body aside.blogA .articulos p {
    text-align: center;
}

body .Whatsapp {
    position: fixed;
    right: 15px;
    bottom: 30px;
}

.Whatsapp a i {
    font-size: 4em;
    color: green;
}

/********************** SERVEIS *****************************/

main .tabla {
    caption-side: bottom;
    table-layout: auto;
    text-align: center;
    border: 4px solid #000;
    margin: 10px 0;
    border-collapse: collapse;
    display: inherit;
    max-width: 800px;
    margin: 20px auto;
}

main .tabla tbody tr td {
    padding: 20px;
}

main .tabla tbody tr:first-child {
    background-color: rgba(20, 20, 20, 0.3);
}

main .tabla tbody tr:nth-child(2n) {
    background-color: rgba(20, 20, 20, 1);
    color: white;
    border-left: 2px solid;
}


body main .Servicios{
    display: none;
}


/***    CONTACTANOS     ***/

.contacto {
    width: 80% !important;
    text-align: center;
    margin: 0 auto;
}

.contacto legend {
    font-size: 2em;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

.contacto .datos div {
    display: inline-block;
}

.contacto .datos .NyA input {
    display: block !important;
    margin: 20px auto;
}

.contacto textarea {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 100px;
}

.contacto label {
    margin: 20px;
}

.contacto .enviar {
    width: 200px;
    background-color: black;
    color: white;
    margin-top: 15px;
}