/*TIPOGRAFÍAS*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*Tipografía de roboto: font-family:'Roboto';*/

/**          PROPIEDADES GENERALES           **/

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /*font-size: 1em;*/
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #000;
}

body header nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-end;
}

body header nav ul li {
    margin: 15px auto;
    display: inline;
}

body footer {
    display: inline-flex;
    flex-direction: row;
}

body footer .redesSociales {
	display: flex;
	list-style: none;
	flex-direction: row;
}

body footer .redesSociales li{
    max-width: 30px;
    margin:0 25px;
}

/**************************** PÁGINA BLOG *************************************/

body .imagenfull {
    width: 100vw !important;
    height: 20vh !important;
    background-attachment: scroll;
}

body main.blog, body aside.blogA {
    display: inline-flex;
    flex-direction: row;
}

body main.blog {
    width: 75%;
    flex-direction: column !important;
}

body aside.blogA {
    width: 24% !important;
    flex-direction: column !important;
    position: fixed;
    text-align: center;
    background-color: black;
    align-content: center;
    align-items: center;
}

aside.blogA div {
    background-color: white;
    width: 90%;
    border-radius: 20px;
    margin: 10px;
}